In [1]:
import pandas as pd
import re

# Reading required Whatsapp chat text files.

In [113]:
f = open("WhatsApp Chat with Discussion (24-h format).txt",'r',encoding='utf-8') 
data1 = f.read() # with 24 hour format

In [114]:
g = open("WhatsApp Chat with Discussion (12h format).txt",'r',encoding='utf-8')
data2 = g.read() # with 12 hour format

### Data1 is in 24 hour format.

In [4]:
print(data1)

12/30/23, 22:05 - Messages and calls are end-to-end encrypted. No one outside of this chat, not even WhatsApp, can read or listen to them. Tap to learn more.
12/30/23, 22:05 - You created group "Discussion"
12/30/23, 22:06 - Pranesh Chowdhury: Hi, How are you?
12/30/23, 22:07 - Pranesh Chowdhury: I am trying to make a message dataset for our python project.
12/30/23, 22:08 - Pranesh Chowdhury: Please message in english. Because our analysis work on the English language.
12/30/23, 22:09 - Pranesh Chowdhury: Continue it.
12/30/23, 22:09 - Pranesh Chowdhury: ‚ò∫Ô∏è
12/30/23, 22:12 - Pranesh Chowdhury: I am doing a python project. So I need your help to create this chats.
12/30/23, 22:13 - Pranesh Chowdhury: I want to analyze the exported chat files.
12/30/23, 22:18 - You added Ayaz EDU
12/30/23, 22:18 - Pranesh Chowdhury: Hello ayaz.
12/30/23, 22:19 - Ayaz EDU: Yo what's up
12/30/23, 22:19 - Pranesh Chowdhury: Fine, Thanks for coming here.
12/30/23, 22:19 - Ayaz EDU: Welcome bro
12/30/23, 22:20 - Pranesh Chowdhury: I just need to make a group file of 20 to 30 chats.
12/30/23, 22:20 - Ayaz EDU: How is your python projects going
12/30/23, 22:20 - Ayaz EDU: Ok ok
12/30/23, 22:20 - Pranesh Chowdhury: pretty good.
12/30/23, 22:21 - Ayaz EDU: Here is nabo da
12/30/23, 22:21 - Pranesh Chowdhury: If I am not mistake you are grouped with tanvir.
12/30/23, 22:21 - Ayaz EDU: Yeap
12/30/23, 22:21 - Pranesh Chowdhury: Nobo is busy now üòÖ
12/30/23, 22:21 - Ayaz EDU: Now revising the codes
12/30/23, 22:22 - Pranesh Chowdhury: seems like he is enjoying
12/30/23, 22:22 - Ayaz EDU: Who nabo?
12/30/23, 22:22 - Pranesh Chowdhury: He will join after he complete his work.
12/30/23, 22:23 - Pranesh Chowdhury: a famous edu student.
12/30/23, 22:23 - Pranesh Chowdhury: when he comes we all laugh. that's the man is nobo.
12/30/23, 22:23 - Pranesh Chowdhury: üòÇ
12/30/23, 22:24 - Ayaz EDU: Yeap always get 4. But act like he is dumer then us
12/30/23, 22:24 - Ayaz EDU: Toxic nabo
12/30/23, 22:24 - Pranesh Chowdhury: Yeah, man.
12/30/23, 22:24 - Pranesh Chowdhury: üòÇ
12/30/23, 22:25 - Ayaz EDU: Im also doing our favorite jamil sir assignment
12/30/23, 22:25 - Pranesh Chowdhury: now express how much anger you have
12/30/23, 22:25 - Pranesh Chowdhury: üòÖ
12/30/23, 22:26 - Pranesh Chowdhury: I did the code assignment.
12/30/23, 22:26 - Pranesh Chowdhury: Is that code assignment or written ?
12/30/23, 22:26 - Ayaz EDU: He gave us two assignments
12/30/23, 22:26 - Ayaz EDU: Coding and writing
12/30/23, 22:27 - Pranesh Chowdhury: Yes. Right now which one you are doing?
12/30/23, 22:27 - Ayaz EDU: Today is the last day for submitting coding assignment
12/30/23, 22:27 - Ayaz EDU: Writing
12/30/23, 22:27 - Ayaz EDU: Tomorrow is last date for writing assignment
12/30/23, 22:27 - Pranesh Chowdhury: Yes, I did both of the assignment.
12/30/23, 22:27 - Ayaz EDU: Lot of questions
12/30/23, 22:27 - Pranesh Chowdhury: did you completed that ?
12/30/23, 22:27 - Ayaz EDU: Too many theory
12/30/23, 22:27 - Ayaz EDU: No
12/30/23, 22:28 - Pranesh Chowdhury: yes, it takes time
12/30/23, 22:28 - Ayaz EDU: I only did the math
12/30/23, 22:28 - Ayaz EDU: Didn't touch the theory
12/30/23, 22:28 - Pranesh Chowdhury: Oh, sorry I am disturbing you.
12/30/23, 22:28 - Ayaz EDU: Bro download any game
12/30/23, 22:29 - Ayaz EDU: Its okay
12/30/23, 22:29 - Ayaz EDU: Which one should be better for playing together
12/30/23, 22:29 - Pranesh Chowdhury: thanks for helping me to create a discussion file.
12/30/23, 22:30 - Ayaz EDU: Im downloading cyberpunk
12/30/23, 22:30 - Pranesh Chowdhury: which game?
12/30/23, 22:30 - Ayaz EDU: null
12/30/23, 22:31 - Pranesh Chowdhury: brother download the "pika super wallpaper". It has beautiful themes.
12/30/23, 22:31 - Pranesh Chowdhury: when you charging your mobile it sounds based on your wallpaper.
12/30/23, 22:31 - Ayaz EDU: Okay
12/30/23, 22:32 - Ayaz EDU: Let me see
12/30/23, 22:32 - Pranesh Chowdhury: ok, bro.
12/30/23, 22:32 - Pranesh Chowdhury: Have a good day.
12/30/23, 22:34 - Ayaz EDU: You, too

### Data2 is in 12 hour format

In [117]:
print(data2)

12/30/23, 10:05 pm - Messages and calls are end-to-end encrypted. No one outside of this chat, not even WhatsApp, can read or listen to them. Tap to learn more.
12/30/23, 10:05 pm - You created group "Discussion"
12/30/23, 10:06 pm - Pranesh Chowdhury: Hi, How are you?
12/30/23, 10:07 pm - Pranesh Chowdhury: I am trying to make a message dataset for our python project.
12/30/23, 10:08 pm - Pranesh Chowdhury: Please message in english. Because our analysis work on the English language.
12/30/23, 10:09 pm - Pranesh Chowdhury: Continue it.
12/30/23, 10:09 pm - Pranesh Chowdhury: ‚ò∫Ô∏è
12/30/23, 10:12 pm - Pranesh Chowdhury: I am doing a python project. So I need your help to create this chats.
12/30/23, 10:13 pm - Pranesh Chowdhury: I want to analyze the exported chat files.
12/30/23, 10:18 pm - You added Ayaz EDU
12/30/23, 10:18 pm - Pranesh Chowdhury: Hello ayaz.
12/30/23, 10:19 pm - Ayaz EDU: Yo what's up
12/30/23, 10:19 pm - Pranesh Chowdhury: Fine, Thanks for coming here.
12/30/23, 10:19 pm - Ayaz EDU: Welcome bro
12/30/23, 10:20 pm - Pranesh Chowdhury: I just need to make a group file of 20 to 30 chats.
12/30/23, 10:20 pm - Ayaz EDU: How is your python projects going
12/30/23, 10:20 pm - Ayaz EDU: Ok ok
12/30/23, 10:20 pm - Pranesh Chowdhury: pretty good.
12/30/23, 10:21 pm - Ayaz EDU: Here is nabo da
12/30/23, 10:21 pm - Pranesh Chowdhury: If I am not mistake you are grouped with tanvir.
12/30/23, 10:21 pm - Ayaz EDU: Yeap
12/30/23, 10:21 pm - Pranesh Chowdhury: Nobo is busy now üòÖ
12/30/23, 10:21 pm - Ayaz EDU: Now revising the codes
12/30/23, 10:22 pm - Pranesh Chowdhury: seems like he is enjoying
12/30/23, 10:22 pm - Ayaz EDU: Who nabo?
12/30/23, 10:22 pm - Pranesh Chowdhury: He will join after he complete his work.
12/30/23, 10:23 pm - Pranesh Chowdhury: a famous edu student.
12/30/23, 10:23 pm - Pranesh Chowdhury: when he comes we all laugh. that's the man is nobo.
12/30/23, 10:23 pm - Pranesh Chowdhury: üòÇ
12/30/23, 10:24 pm - Ayaz EDU: Yeap always get 4. But act like he is dumer then us
12/30/23, 10:24 pm - Ayaz EDU: Toxic nabo
12/30/23, 10:24 pm - Pranesh Chowdhury: Yeah, man.
12/30/23, 10:24 pm - Pranesh Chowdhury: üòÇ
12/30/23, 10:25 pm - Ayaz EDU: Im also doing our favorite jamil sir assignment
12/30/23, 10:25 pm - Pranesh Chowdhury: now express how much anger you have
12/30/23, 10:25 pm - Pranesh Chowdhury: üòÖ
12/30/23, 10:26 pm - Pranesh Chowdhury: I did the code assignment.
12/30/23, 10:26 pm - Pranesh Chowdhury: Is that code assignment or written ?
12/30/23, 10:26 pm - Ayaz EDU: He gave us two assignments
12/30/23, 10:26 pm - Ayaz EDU: Coding and writing
12/30/23, 10:27 pm - Pranesh Chowdhury: Yes. Right now which one you are doing?
12/30/23, 10:27 pm - Ayaz EDU: Today is the last day for submitting coding assignment
12/30/23, 10:27 pm - Ayaz EDU: Writing
12/30/23, 10:27 pm - Ayaz EDU: Tomorrow is last date for writing assignment
12/30/23, 10:27 pm - Pranesh Chowdhury: Yes, I did both of the assignment.
12/30/23, 10:27 pm - Ayaz EDU: Lot of questions
12/30/23, 10:27 pm - Pranesh Chowdhury: did you completed that ?
12/30/23, 10:27 pm - Ayaz EDU: Too many theory
12/30/23, 10:27 pm - Ayaz EDU: No
12/30/23, 10:28 pm - Pranesh Chowdhury: yes, it takes time
12/30/23, 10:28 pm - Ayaz EDU: I only did the math
12/30/23, 10:28 pm - Ayaz EDU: Didn't touch the theory
12/30/23, 10:28 pm - Pranesh Chowdhury: Oh, sorry I am disturbing you.
12/30/23, 10:28 pm - Ayaz EDU: Bro download any game
12/30/23, 10:29 pm - Ayaz EDU: Its okay
12/30/23, 10:29 pm - Ayaz EDU: Which one should be better for playing together
12/30/23, 10:29 pm - Pranesh Chowdhury: thanks for helping me to create a discussion file.
12/30/23, 10:30 pm - Ayaz EDU: Im downloading cyberpunk
12/30/23, 10:30 pm - Pranesh Chowdhury: which game?
12/30/23, 10:30 pm - Ayaz EDU: null
12/30/23, 10:31 pm - Pranesh Chowdhury: brother download the "pika super wallpaper". It has beautiful themes.
12/30/23, 10:31 pm - Pranesh Chowdhury: when you charging your mobile it sounds based on your wallpaper.
12/30/23, 10:31 pm - Ayaz EDU: Okay
12/30/23, 10:32 pm - Ayaz EDU: Let me see
12/30/23, 10:32 pm - Pranesh Chowdhury: ok, bro.
12/30/23, 10:32 pm - Pranesh Chowdhury: Have a good day.
12/30/23, 10:34 pm - Ayaz EDU: You, toopm

## Defining regx pattern to extract date and messages from text files

In [118]:
pattern ='\d{1,2}\/\d{1,2}\/\d{2},\s\d{1,2}:\d{2}\s(?:am\s|pm\s)?-\s'
for i in re.finditer(pattern,data1):
    print(i)

<re.Match object; span=(0, 18), match='12/30/23, 22:05 - '>
<re.Match object; span=(158, 176), match='12/30/23, 22:05 - '>
<re.Match object; span=(207, 225), match='12/30/23, 22:06 - '>
<re.Match object; span=(261, 279), match='12/30/23, 22:07 - '>
<re.Match object; span=(360, 378), match='12/30/23, 22:08 - '>
<re.Match object; span=(475, 493), match='12/30/23, 22:09 - '>
<re.Match object; span=(525, 543), match='12/30/23, 22:09 - '>
<re.Match object; span=(565, 583), match='12/30/23, 22:12 - '>
<re.Match object; span=(673, 691), match='12/30/23, 22:13 - '>
<re.Match object; span=(753, 771), match='12/30/23, 22:18 - '>
<re.Match object; span=(790, 808), match='12/30/23, 22:18 - '>
<re.Match object; span=(839, 857), match='12/30/23, 22:19 - '>
<re.Match object; span=(880, 898), match='12/30/23, 22:19 - '>
<re.Match object; span=(947, 965), match='12/30/23, 22:19 - '>
<re.Match object; span=(987, 1005), match='12/30/23, 22:20 - '>
<re.Match object; span=(1076, 1094), match='12/30/23, 22:20 - '>
<re.Match object; span=(1138, 1156), match='12/30/23, 22:20 - '>
<re.Match object; span=(1172, 1190), match='12/30/23, 22:20 - '>
<re.Match object; span=(1222, 1240), match='12/30/23, 22:21 - '>
<re.Match object; span=(1266, 1284), match='12/30/23, 22:21 - '>
<re.Match object; span=(1352, 1370), match='12/30/23, 22:21 - '>
<re.Match object; span=(1385, 1403), match='12/30/23, 22:21 - '>
<re.Match object; span=(1441, 1459), match='12/30/23, 22:21 - '>
<re.Match object; span=(1492, 1510), match='12/30/23, 22:22 - '>
<re.Match object; span=(1555, 1573), match='12/30/23, 22:22 - '>
<re.Match object; span=(1593, 1611), match='12/30/23, 22:22 - '>
<re.Match object; span=(1671, 1689), match='12/30/23, 22:23 - '>
<re.Match object; span=(1730, 1748), match='12/30/23, 22:23 - '>
<re.Match object; span=(1819, 1837), match='12/30/23, 22:23 - '>
<re.Match object; span=(1858, 1876), match='12/30/23, 22:24 - '>
<re.Match object; span=(1938, 1956), match='12/30/23, 22:24 - '>
<re.Match object; span=(1977, 1995), match='12/30/23, 22:24 - '>
<re.Match object; span=(2025, 2043), match='12/30/23, 22:24 - '>
<re.Match object; span=(2064, 2082), match='12/30/23, 22:25 - '>
<re.Match object; span=(2140, 2158), match='12/30/23, 22:25 - '>
<re.Match object; span=(2213, 2231), match='12/30/23, 22:25 - '>
<re.Match object; span=(2252, 2270), match='12/30/23, 22:26 - '>
<re.Match object; span=(2316, 2334), match='12/30/23, 22:26 - '>
<re.Match object; span=(2390, 2408), match='12/30/23, 22:26 - '>
<re.Match object; span=(2445, 2463), match='12/30/23, 22:26 - '>
<re.Match object; span=(2492, 2510), match='12/30/23, 22:27 - '>
<re.Match object; span=(2569, 2587), match='12/30/23, 22:27 - '>
<re.Match object; span=(2652, 2670), match='12/30/23, 22:27 - '>
<re.Match object; span=(2688, 2706), match='12/30/23, 22:27 - '>
<re.Match object; span=(2761, 2779), match='12/30/23, 22:27 - '>
<re.Match object; span=(2833, 2851), match='12/30/23, 22:27 - '>
<re.Match object; span=(2878, 2896), match='12/30/23, 22:27 - '>
<re.Match object; span=(2940, 2958), match='12/30/23, 22:27 - '>
<re.Match object; span=(2984, 3002), match='12/30/23, 22:27 - '>
<re.Match object; span=(3015, 3033), match='12/30/23, 22:28 - '>
<re.Match object; span=(3071, 3089), match='12/30/23, 22:28 - '>
<re.Match object; span=(3119, 3137), match='12/30/23, 22:28 - '>
<re.Match object; span=(3171, 3189), match='12/30/23, 22:28 - '>
<re.Match object; span=(3239, 3257), match='12/30/23, 22:28 - '>
<re.Match object; span=(3289, 3307), match='12/30/23, 22:29 - '>
<re.Match object; span=(3326, 3344), match='12/30/23, 22:29 - '>
<re.Match object; span=(3402, 3420), match='12/30/23, 22:29 - '>
<re.Match object; span=(3490, 3508), match='12/30/23, 22:30 - '>
<re.Match object; span=(3543, 3561), match='12/30/23, 22:30 - '>
<re.Match object; span=(3592, 3610), match='12/30/23, 22:30 - '>
<re.Match object; span=(3625, 3643), match='12/30/23, 22:31 - '>
<re.Match object; span=(3732, 3750), match='12/30/23, 22:31 - '>
<re.Match object; span=(3834, 3852), match='12/30/23, 22:31 - '>
<re.Match object; span=(3867, 3885), match='12/30/23, 22:32 - '>
<re.Match object; span=(3906, 3924), match='12/30/23, 22:32 - '>
<re.Match object; span=(3952, 3970), match='12/30/23, 22:32 - '>
<re.Match object; span=(4006, 4024), match='12/30/23, 22:34 - '>

In [119]:
for i in re.finditer(pattern,data2):
    print(i)

<re.Match object; span=(0, 21), match='12/30/23, 10:05 pm - '>
<re.Match object; span=(161, 182), match='12/30/23, 10:05 pm - '>
<re.Match object; span=(213, 234), match='12/30/23, 10:06 pm - '>
<re.Match object; span=(270, 291), match='12/30/23, 10:07 pm - '>
<re.Match object; span=(372, 393), match='12/30/23, 10:08 pm - '>
<re.Match object; span=(490, 511), match='12/30/23, 10:09 pm - '>
<re.Match object; span=(543, 564), match='12/30/23, 10:09 pm - '>
<re.Match object; span=(586, 607), match='12/30/23, 10:12 pm - '>
<re.Match object; span=(697, 718), match='12/30/23, 10:13 pm - '>
<re.Match object; span=(780, 801), match='12/30/23, 10:18 pm - '>
<re.Match object; span=(820, 841), match='12/30/23, 10:18 pm - '>
<re.Match object; span=(872, 893), match='12/30/23, 10:19 pm - '>
<re.Match object; span=(916, 937), match='12/30/23, 10:19 pm - '>
<re.Match object; span=(986, 1007), match='12/30/23, 10:19 pm - '>
<re.Match object; span=(1029, 1050), match='12/30/23, 10:20 pm - '>
<re.Match object; span=(1121, 1142), match='12/30/23, 10:20 pm - '>
<re.Match object; span=(1186, 1207), match='12/30/23, 10:20 pm - '>
<re.Match object; span=(1223, 1244), match='12/30/23, 10:20 pm - '>
<re.Match object; span=(1276, 1297), match='12/30/23, 10:21 pm - '>
<re.Match object; span=(1323, 1344), match='12/30/23, 10:21 pm - '>
<re.Match object; span=(1412, 1433), match='12/30/23, 10:21 pm - '>
<re.Match object; span=(1448, 1469), match='12/30/23, 10:21 pm - '>
<re.Match object; span=(1507, 1528), match='12/30/23, 10:21 pm - '>
<re.Match object; span=(1561, 1582), match='12/30/23, 10:22 pm - '>
<re.Match object; span=(1627, 1648), match='12/30/23, 10:22 pm - '>
<re.Match object; span=(1668, 1689), match='12/30/23, 10:22 pm - '>
<re.Match object; span=(1749, 1770), match='12/30/23, 10:23 pm - '>
<re.Match object; span=(1811, 1832), match='12/30/23, 10:23 pm - '>
<re.Match object; span=(1903, 1924), match='12/30/23, 10:23 pm - '>
<re.Match object; span=(1945, 1966), match='12/30/23, 10:24 pm - '>
<re.Match object; span=(2028, 2049), match='12/30/23, 10:24 pm - '>
<re.Match object; span=(2070, 2091), match='12/30/23, 10:24 pm - '>
<re.Match object; span=(2121, 2142), match='12/30/23, 10:24 pm - '>
<re.Match object; span=(2163, 2184), match='12/30/23, 10:25 pm - '>
<re.Match object; span=(2242, 2263), match='12/30/23, 10:25 pm - '>
<re.Match object; span=(2318, 2339), match='12/30/23, 10:25 pm - '>
<re.Match object; span=(2360, 2381), match='12/30/23, 10:26 pm - '>
<re.Match object; span=(2427, 2448), match='12/30/23, 10:26 pm - '>
<re.Match object; span=(2504, 2525), match='12/30/23, 10:26 pm - '>
<re.Match object; span=(2562, 2583), match='12/30/23, 10:26 pm - '>
<re.Match object; span=(2612, 2633), match='12/30/23, 10:27 pm - '>
<re.Match object; span=(2692, 2713), match='12/30/23, 10:27 pm - '>
<re.Match object; span=(2778, 2799), match='12/30/23, 10:27 pm - '>
<re.Match object; span=(2817, 2838), match='12/30/23, 10:27 pm - '>
<re.Match object; span=(2893, 2914), match='12/30/23, 10:27 pm - '>
<re.Match object; span=(2968, 2989), match='12/30/23, 10:27 pm - '>
<re.Match object; span=(3016, 3037), match='12/30/23, 10:27 pm - '>
<re.Match object; span=(3081, 3102), match='12/30/23, 10:27 pm - '>
<re.Match object; span=(3128, 3149), match='12/30/23, 10:27 pm - '>
<re.Match object; span=(3162, 3183), match='12/30/23, 10:28 pm - '>
<re.Match object; span=(3221, 3242), match='12/30/23, 10:28 pm - '>
<re.Match object; span=(3272, 3293), match='12/30/23, 10:28 pm - '>
<re.Match object; span=(3327, 3348), match='12/30/23, 10:28 pm - '>
<re.Match object; span=(3398, 3419), match='12/30/23, 10:28 pm - '>
<re.Match object; span=(3451, 3472), match='12/30/23, 10:29 pm - '>
<re.Match object; span=(3491, 3512), match='12/30/23, 10:29 pm - '>
<re.Match object; span=(3570, 3591), match='12/30/23, 10:29 pm - '>
<re.Match object; span=(3661, 3682), match='12/30/23, 10:30 pm - '>
<re.Match object; span=(3717, 3738), match='12/30/23, 10:30 pm - '>
<re.Match object; span=(3769, 3790), match='12/30/23, 10:30 pm - '>
<re.Match object; span=(3805, 3826), match='12/30/23, 10:31 pm - '>
<re.Match object; span=(3915, 3936), match='12/30/23, 10:31 pm - '>
<re.Match object; span=(4020, 4041), match='12/30/23, 10:31 pm - '>
<re.Match object; span=(4056, 4077), match='12/30/23, 10:32 pm - '>
<re.Match object; span=(4098, 4119), match='12/30/23, 10:32 pm - '>
<re.Match object; span=(4147, 4168), match='12/30/23, 10:32 pm - '>
<re.Match object; span=(4204, 4225), match='12/30/23, 10:34 pm - '>

### Extracting messages  of data1

In [13]:

messages_data1 = re.split(pattern,data1)[1:] 
messages_data1[:5]

['Messages and calls are end-to-end encrypted. No one outside of this chat, not even WhatsApp, can read or listen to them. Tap to learn more.\n',
 'You created group "Discussion"\n',
 'Pranesh Chowdhury: Hi, How are you?\n',
 'Pranesh Chowdhury: I am trying to make a message dataset for our python project.\n',
 'Pranesh Chowdhury: Please message in english. Because our analysis work on the English language.\n']

### Extracting messages of data2

In [120]:

messages_data2 = re.split(pattern,data2)[1:]
messages_data2[:5]

['Messages and calls are end-to-end encrypted. No one outside of this chat, not even WhatsApp, can read or listen to them. Tap to learn more.\n',
 'You created group "Discussion"\n',
 'Pranesh Chowdhury: Hi, How are you?\n',
 'Pranesh Chowdhury: I am trying to make a message dataset for our python project.\n',
 'Pranesh Chowdhury: Please message in english. Because our analysis work on the English language.\n']

### Extracting dates of data1

In [14]:
dates_data1 = re.findall(pattern,data1)
dates_data1[:5]

['12/30/23, 22:05 - ',
 '12/30/23, 22:05 - ',
 '12/30/23, 22:06 - ',
 '12/30/23, 22:07 - ',
 '12/30/23, 22:08 - ']

### Extracting dates of data2

In [16]:
dates_data2 = re.findall(pattern,data2)
dates_data2[:5]

['12/30/23, 10:05 pm - ',
 '12/30/23, 10:05 pm - ',
 '12/30/23, 10:06 pm - ',
 '12/30/23, 10:07 pm - ',
 '12/30/23, 10:08 pm - ']

### Creating dataframes

In [123]:
df1 = pd.DataFrame({'Dates':dates_data1,'Messages':messages_data1})

In [124]:
df2 = pd.DataFrame({'Dates':dates_data2,'Messages':messages_data2})

In [125]:
df1.head()

                Dates                                           Messages
0  12/30/23, 22:05 -   Messages and calls are end-to-end encrypted. N...
1  12/30/23, 22:05 -                    You created group "Discussion"\n
2  12/30/23, 22:06 -               Pranesh Chowdhury: Hi, How are you?\n
3  12/30/23, 22:07 -   Pranesh Chowdhury: I am trying to make a messa...
4  12/30/23, 22:08 -   Pranesh Chowdhury: Please message in english. ...

In [126]:
df2.head()

                   Dates                                           Messages
0  12/30/23, 10:05 pm -   Messages and calls are end-to-end encrypted. N...
1  12/30/23, 10:05 pm -                    You created group "Discussion"\n
2  12/30/23, 10:06 pm -               Pranesh Chowdhury: Hi, How are you?\n
3  12/30/23, 10:07 pm -   Pranesh Chowdhury: I am trying to make a messa...
4  12/30/23, 10:08 pm -   Pranesh Chowdhury: Please message in english. ...

## Extracting usernames and messages from dataframe 1. (df1)

In [127]:

usernames1 = list()
messages1 = list()
for i in df1['Messages']:
    values = re.split('([\w\W]+):\s',i)
    
    if len(values)>2:
        usernames1.append(values[1])
        messages1.append(values[2])
    else:
        usernames1.append('Notifications')
        messages1.append(values[0])

In [128]:
print(len(messages1))
print(len(usernames1))

67
67

# Adding to df1 and droping unecessary column "Messages"

In [129]:
df1['User'] = usernames1
df1['Message'] = messages1
df1.drop(columns='Messages',inplace=True)

In [130]:
df1

,Dates,User,Message
0,"12/30/23, 22:05 -",Notifications,Messages and calls are end-to-end encrypted. N...
1,"12/30/23, 22:05 -",Notifications,"You created group ""Discussion""\n"
2,"12/30/23, 22:06 -",Pranesh Chowdhury,"Hi, How are you?\n"
3,"12/30/23, 22:07 -",Pranesh Chowdhury,I am trying to make a message dataset for our ...
4,"12/30/23, 22:08 -",Pranesh Chowdhury,Please message in english. Because our analysi...
...,...,...,...
62,"12/30/23, 22:31 -",Ayaz EDU,Okay\n
63,"12/30/23, 22:32 -",Ayaz EDU,Let me see\n
64,"12/30/23, 22:32 -",Pranesh Chowdhury,"ok, bro.\n"
65,"12/30/23, 22:32 -",Pranesh Chowdhury,Have a good day.\n
66,"12/30/23, 22:34 -",Ayaz EDU,"You, too\n"

## Extracting user name and messages of dataframe 2. (df2)

In [131]:

usernames2 = list()
messages2 = list()
for i in df2['Messages']:
    values = re.split('([\w\W]+):\s',i)
    
    if len(values)>2:
        usernames2.append(values[1])
        messages2.append(values[2])
    else:
        usernames2.append('Notifications')
        messages2.append(values[0])

### Adding to df2 and droping unecessary column "Messages"

In [134]:

df2['User'] = usernames2
df2['Message'] = messages2
df2.drop(columns='Messages',inplace=True)

In [135]:
df2

,Dates,User,Message
0,"12/30/23, 10:05 pm -",Notifications,Messages and calls are end-to-end encrypted. N...
1,"12/30/23, 10:05 pm -",Notifications,"You created group ""Discussion""\n"
2,"12/30/23, 10:06 pm -",Pranesh Chowdhury,"Hi, How are you?\n"
3,"12/30/23, 10:07 pm -",Pranesh Chowdhury,I am trying to make a message dataset for our ...
4,"12/30/23, 10:08 pm -",Pranesh Chowdhury,Please message in english. Because our analysi...
...,...,...,...
62,"12/30/23, 10:31 pm -",Ayaz EDU,Okay\n
63,"12/30/23, 10:32 pm -",Ayaz EDU,Let me see\n
64,"12/30/23, 10:32 pm -",Pranesh Chowdhury,"ok, bro.\n"
65,"12/30/23, 10:32 pm -",Pranesh Chowdhury,Have a good day.\n
66,"12/30/23, 10:34 pm -",Ayaz EDU,"You, toopm\n"

 **we can see that we are able to extract user and message seperately.
 Hence out pattern is working with both 12 hour and 24 hour format,
 so we can create our function now**

In [143]:
def preprocessor(data='string'):
    pattern ='\d{1,2}\/\d{1,2}\/\d{2},\s\d{1,2}:\d{2}\s(?:am\s|pm\s)?-\s'
    messages = re.split(pattern,data)[1:]
    dates = re.findall(pattern,data)
    df = pd.DataFrame({'Dates':dates,'Messages':messages})
    usernames = list()
    messages = list()
    
    for i in df['Messages']:
        values = re.split('([\w\W]+):\s',i)

        if len(values)>2:
            usernames.append(values[1])
            messages.append(values[2])
        else:
            usernames.append('Notifications')
            messages.append(values[0])
    df['User'] = usernames
    df['Message'] = messages
    df.drop(columns='Messages',inplace=True)
    return df

# Tesing our function

In [138]:

_24h_format_data= preprocessor(data1)
_24h_format_data.head()

,Dates,User,Message
0,"12/30/23, 22:05 -",Notifications,Messages and calls are end-to-end encrypted. N...
1,"12/30/23, 22:05 -",Notifications,"You created group ""Discussion""\n"
2,"12/30/23, 22:06 -",Pranesh Chowdhury,"Hi, How are you?\n"
3,"12/30/23, 22:07 -",Pranesh Chowdhury,I am trying to make a message dataset for our ...
4,"12/30/23, 22:08 -",Pranesh Chowdhury,Please message in english. Because our analysi...

In [139]:
_12h_format_data = preprocessor(data2)
_12h_format_data.head()

,Dates,User,Message
0,"12/30/23, 10:05 pm -",Notifications,Messages and calls are end-to-end encrypted. N...
1,"12/30/23, 10:05 pm -",Notifications,"You created group ""Discussion""\n"
2,"12/30/23, 10:06 pm -",Pranesh Chowdhury,"Hi, How are you?\n"
3,"12/30/23, 10:07 pm -",Pranesh Chowdhury,I am trying to make a message dataset for our ...
4,"12/30/23, 10:08 pm -",Pranesh Chowdhury,Please message in english. Because our analysi...

# Transforming Dates in 24 - hours format

In [142]:
def datetime(data):
    try:

        datetime_data = pd.to_datetime(data,format="%m/%d/%y, %I:%M %p - ")

    except:
        try:
            datetime_data = pd.to_datetime(data,format="%m/%d/%y, %H:%M - ")
        except ValueError:
            raise ValueError('Invalid date-time format')

    return datetime_data

### Testing function

In [147]:
datetime(_12h_format_data['Dates'])

0    2023-12-30 22:05:00
1    2023-12-30 22:05:00
2    2023-12-30 22:06:00
3    2023-12-30 22:07:00
4    2023-12-30 22:08:00
             ...
62   2023-12-30 22:31:00
63   2023-12-30 22:32:00
64   2023-12-30 22:32:00
65   2023-12-30 22:32:00
66   2023-12-30 22:34:00
Name: Dates, Length: 67, dtype: datetime64[ns]

In [145]:
datetime(_24h_format_data['Dates'])

0    2023-12-30 22:05:00
1    2023-12-30 22:05:00
2    2023-12-30 22:06:00
3    2023-12-30 22:07:00
4    2023-12-30 22:08:00
             ...
62   2023-12-30 22:31:00
63   2023-12-30 22:32:00
64   2023-12-30 22:32:00
65   2023-12-30 22:32:00
66   2023-12-30 22:34:00
Name: Dates, Length: 67, dtype: datetime64[ns]

**It is working well with both timezone data**

# Updating our script

In [170]:
def preprocessor(data='string'):
    pattern ='\d{1,2}\/\d{1,2}\/\d{2},\s\d{1,2}:\d{2}\s(?:am\s|pm\s)?-\s'
    messages = re.split(pattern,data)[1:]
    dates = re.findall(pattern,data)
    df = pd.DataFrame({'Dates':dates,'Messages':messages})
    usernames = list()
    messages = list()
    
    for i in df['Messages']:
        values = re.split('([\w\W]+):\s',i)

        if len(values)>2:
            usernames.append(values[1])
            messages.append(values[2])
        else:
            usernames.append('Notifications')
            messages.append(values[0])
    df['User'] = usernames
    df['Message'] = messages
    df.drop(columns='Messages',inplace=True)
    
    df['Dates'] = datetime(df['Dates'])
    return df

# Final Testing

In [171]:
preprocessor(data1)

,Dates,User,Message
0,2023-12-30 22:05:00,Notifications,Messages and calls are end-to-end encrypted. N...
1,2023-12-30 22:05:00,Notifications,"You created group ""Discussion""\n"
2,2023-12-30 22:06:00,Pranesh Chowdhury,"Hi, How are you?\n"
3,2023-12-30 22:07:00,Pranesh Chowdhury,I am trying to make a message dataset for our ...
4,2023-12-30 22:08:00,Pranesh Chowdhury,Please message in english. Because our analysi...
...,...,...,...
62,2023-12-30 22:31:00,Ayaz EDU,Okay\n
63,2023-12-30 22:32:00,Ayaz EDU,Let me see\n
64,2023-12-30 22:32:00,Pranesh Chowdhury,"ok, bro.\n"
65,2023-12-30 22:32:00,Pranesh Chowdhury,Have a good day.\n
66,2023-12-30 22:34:00,Ayaz EDU,"You, too\n"

In [172]:
preprocessor(data2)

,Dates,User,Message
0,2023-12-30 22:05:00,Notifications,Messages and calls are end-to-end encrypted. N...
1,2023-12-30 22:05:00,Notifications,"You created group ""Discussion""\n"
2,2023-12-30 22:06:00,Pranesh Chowdhury,"Hi, How are you?\n"
3,2023-12-30 22:07:00,Pranesh Chowdhury,I am trying to make a message dataset for our ...
4,2023-12-30 22:08:00,Pranesh Chowdhury,Please message in english. Because our analysi...
...,...,...,...
62,2023-12-30 22:31:00,Ayaz EDU,Okay\n
63,2023-12-30 22:32:00,Ayaz EDU,Let me see\n
64,2023-12-30 22:32:00,Pranesh Chowdhury,"ok, bro.\n"
65,2023-12-30 22:32:00,Pranesh Chowdhury,Have a good day.\n
66,2023-12-30 22:34:00,Ayaz EDU,"You, toopm\n"